/* chatbot.css */

/* Add Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Styles for the login container */
.login-container {
    font-family: 'Anton SC', sans-serif;
    max-width: 400px;
    margin: 10% auto; /* Adjusted margin to center vertically and horizontally */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

/* Welcome message styles */
.welcome-message {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Login header styles */
.login-header {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form input styles */
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Submit button styles */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
